
/* CSS Document */

#buchinfo {
	width:100%
}

#buchinfo .buchinfo-item {
	width:50%;
	float:left;
}

#buchinfo .buchinfo-item label,
.buchinfo-item label
{
	width:150px;
	display: inline-block;
}

#buchinfo .buchinfo-item input,
#buchinfo .buchinfo-item select {
	width:250px;
}

#buchinfo .buchinfo-item input[type="range"] {
	width:200px;
}
#buchinfo span {
	width: 40px;
	display: inline-block;
	text-align: center;
}

#buchinfo .buchinfo-item input[type="checkbox"] {
	width:auto;
}
.no-display {display:none;}
.clear {clear:both;}

#get_old_data {
    display: block;
    padding: 5px 25px;
    background: #333;
    color:#ccc;
    text-align: center;
    cursor: pointer;
}