/*****************************************************************
* Fonts
*****************************************************************/
@import url(http://fonts.googleapis.com/css?family=Arizonia);

/* font-family: 'Arizonia', cursive; */
@font-face {
    font-family: 'Arizonia';
    font-style: normal;
    font-weight: 400;
    src: url(http://themes.googleusercontent.com/static/fonts/arizonia/v3/8Usm7f8XTsZinW2e-ZMd5XYhjbSpvc47ee6xR_80Hnw.woff) format('woff');
}


body#tinymce.wp-editor {
    font-family: verdana, helvetica, sans-serif;
    font-size: 90%;
    line-height: 150%;
    font-weight: normal;
    font-variant: normal;
    font-style: normal;
    color: #444c4f;
    margin: 10px;
}

body#tinymce.wp-editor a {
    color: #4CA6CF;
}
body#tinymce.wp-editor img {
    display: block;
}

body#tinymce.wp-editor p {
    padding-bottom: 10px;
}

body#tinymce.wp-editor a:link,
body#tinymce.wp-editor a:visited {
    color: #444c4f;
    text-decoration: none;
}

body#tinymce.wp-editor a:hover,
body#tinymce.wp-editor a:active {
    color: #ad0000;
    text-decoration: underline;
}
body#tinymce.wp-editor h1,
body#tinymce.wp-editor div.h1 {
    font: italic normal bold 2.5rem/150% 'Arizonia', 'Arizonia-Regular', serif;
    color: #700;
}
body#tinymce.wp-editor h2,
body#tinymce.wp-editor div.h2 {
    font: normal normal normal 2rem/150% Georgia, sans-serif;
    color: #ad0000;
    margin-bottom: 30px;
}
body#tinymce.wp-editor h3,
body#tinymce.wp-editor div.h3 {
    font: normal normal normal 1.75rem/130% Georgia, sans-serif;
    margin-bottom: 15px;
}
body#tinymce.wp-editor h4,
body#tinymce.wp-editor div.h4 {
    font: normal normal bold 1rem/1.5rem verdana, sans-serif;
}

body#tinymce.wp-editor h5,
body#tinymce.wp-editor div.h5 {
    font: normal normal bold 1.1rem/1.5rem verdana, sans-serif;
}

body#tinymce.wp-editor h6,
body#tinymce.wp-editor div.h6 {
    font: normal normal bold 1rem/1.5rem verdana, sans-serif;
}
