#nav-container ul.menu {
	padding: 0 0 0 40px;
}
#nav-container ul.menu > li > a {
	font-family: 'Arizonia', Verdana, cursive, serif;
	font-style: italic;
	text-decoration: none;
	font-variant: normal;
	font-weight: bold;
	font-size: 40px;
	line-height: 85px;
}
h3 { 
	margin-bottom:15px;
	font-family: Georgia, sans-serif;
	font-style: normal;
	text-decoration: none;
	font-variant: normal;
	font-weight: normal;
	font-size: 28px;
	line-height: 130%;
	}
h2 {
	font-family: 'Arizonia', cursive,  serif;
	font-style: italic;
	text-decoration: none;
	font-variant: normal;
	font-weight: bold;
	font-size: 36px;
	line-height: 150%;
}

.t-shadow {
    zoom: 1;
    filter:progid:DXImageTransform.Microsoft.Shadow(color='#000000',direction='135', strength='5'); /*ie 5.5 -7*/
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(strength='5', direction='135', color='#000000')"; /*ie8*/
    filter:DropShadow(Color=#00ff00, OffX=0, OffY=3);
}

