.t-shadow {
    filter:progid:DXImageTransform.Microsoft.Shadow(color='#000000',direction='135', strength='5');
}
#header .search-submit {
    right: -35px;
    top: -25px;
    width:55px;
    text-align: right;
}