#nav-container ul.menu > li > a {
	font-size: 36px;
}

.t-shadow {
    filter:progid:DXImageTransform.Microsoft.Shadow(color='#000000',direction='135', strength='5');

    zoom: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(strength='5', direction='135', color='#000000')";

}