/* CSS Document */
/*
00 Fonts
01 Reset
02 Basic Elements & Tools
03 WordPress Core Defaults
04 Headlines
05 Header
06 Footer
07 Content
08 Sidebar
09 Navi
10 Pluginfixes
11 Media Queries
 */
/*****************************************************************
* Fonts
*****************************************************************/
@font-face {
    font-family: 'Arizonia';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/8Usm7f8XTsZinW2e-ZMd5XYhjbSpvc47ee6xR_80Hnw.woff) format('woff');
}

/*****************************************************************
* Reset
* http://meyerweb.com/eric/tools/css/reset/
* v2.0 | 20110126
* License: none (public domain)
*****************************************************************/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*****************************************************************
* Basic Elements & Tools
*****************************************************************/

body {
    font: normal normal normal 90%/150% verdana, helvetica, sans-serif; /* font-style, font-variant, font-weight, font-size/line-height, font-family */
    color: #444c4f;
}

img {
    display: block;
}

p {
    padding-bottom: 10px;
}

a:link,
a:visited {
    color: #444c4f;
    text-decoration: none;
}

a:hover,
a:active {
    color: #ad0000;
    text-decoration: underline;
}

#wrapper {
    background: url('../images/bg-head.png') center top no-repeat;
    min-width: 1200px;
}

#content {
    margin: 0 auto 50px auto;
    background: #fff;
}

.page-container {
    max-width: 1200px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.f-left {
    float: left;
}

.f-right {
    float: left;
}

.clear {
    clear: both;
    height: 0;
    line-height: 0;
}

strong, b, .bold {
    font-weight: bold;
}

em, i, .italic {
    font-style: italic;
}

.t-upper {
    text-transform: uppercase
}

.ta-center, .t-center {
    text-align: center;
}

.ta-left, .t-left {
    text-align: left;
}

.ta-right, .t-right {
    text-align: right;
}

.ta-blosa, .tblosa {
    text-align: justify;
}

.verlauf {
    background: #660000; /* Old browsers */
    background: -moz-linear-gradient(top, #660000 0%, #220000 50%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #660000), color-stop(50%, #220000)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #660000 0%, #220000 50%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #660000 0%, #220000 50%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #660000 0%, #220000 50%); /* IE10+ */
    background: linear-gradient(to bottom, #660000 0%, #220000 50%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#660000', endColorstr='#220000', GradientType=0); /* IE6-9 */
}

.opa50 {
    opacity: .5;
}

.aktiv {
    width: 350px !important;
    opacity: 1;
}

.no-display {
    display: none;
}

#nav-container a:hover,
.page-nav a:hover,
.fade:hover,
.fade {
    -webkit-transition: all .25s linear;
    -moz-transition: all .25s linear;
    -o-transition: all .25s linear;
    transition: all .25s linear;
}

.t-shadow {
    text-shadow: 3px 3px 10px #000;
}

.social-buttons .t-shadow {
    text-shadow: 0 0 50px #fff;
}

.dev {
    background-color: rgba(255, 255, 0, .05);
    background-image: repeating-linear-gradient(45deg, transparent, transparent 35px, rgba(0, 0, 0, .05) 35px, rgba(0, 0, 0, .05) 70px);
}
/*****************************************************************
* WordPress Core Defaults
*****************************************************************/

.alignnone {
    margin: 0; /* 5px 20px 20px 0; */
}

.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

a img.alignnone {
    margin: 5px 20px 20px 0;
}

a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.wp-caption {
    background: #fff;
    border: 1px solid #f0f0f0;
    max-width: 96%; /* Image does not overflow the content area */
    padding: 5px 3px 10px;
    text-align: center;
}

.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}

.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto;
}

.wp-caption p.wp-caption-text {
    font-size: 11px;
    line-height: 17px;
    margin: 0;
    padding: 0 4px 5px;
}

/*****************************************************************
* Headlines
*****************************************************************/
h1, div.h1 {
    font: italic normal bold 2.5rem/150% 'Arizonia', 'Arizonia-Regular', serif;
    color: #700;
}

h1.blog_title {
    font: italic normal bold 2.0rem/150% 'Arizonia', serif;
    position: relative;
    top: 15px;
    left: 15px;
}

h2, div.h2 {
    font: normal normal normal 2rem/150% Georgia, sans-serif;
    color: #ad0000;
    margin-bottom: 30px;
}

h2.info span {
    font-style: italic;
}

h3, div.h3 {
    font: normal normal normal 1.75rem/130% Georgia, sans-serif;
    margin-bottom: 15px;
}

#postingfeed h3 {
    padding: 20px 0 20px 85px;
    margin-bottom: 0;
}

#postingfeed h3.tagebuch {
    background: url(../images/icon-rezensionen-title.png) no-repeat left center;
}

#postingfeed h3.interviews {
    background: url(../images/icon-interviews-title.png) no-repeat left center;
}

#postingfeed h3.rezensionen {
    background: url(../images/icon-tagebuch-title.png) no-repeat left center;
}

h4, div.h4 {
    font: normal normal bold 1rem/1.5rem verdana, sans-serif;
}
h5, div.h5 {
    font: normal normal bold 1.1rem/1.5rem verdana, sans-serif;
}

h6, div.h6 {
    font: normal normal bold 1rem/1.5rem verdana, sans-serif;
}

/*****************************************************************
* Header
*****************************************************************/
#header {
    height: 300px;
}

#header .search-form {
    background: #fff;
    bottom: 30px;
    width: 185px;
    padding: 5px;
    position: absolute;
    right: 30px;
}

#header .search-form label {
    position: relative;
    display: inline-block;
}

#header .search-label {
    display: none;
}

#header .search-input {
    background: none;
    border: none;
    border-radius: 0;
    display: block;
    position: relative;
    width: 100%;
    font-size: 20px;
    line-height: 26px;
    height: 26px;
    -webkit-appearance: none;
}

#header .search-input:focus {
    outline: none;
}

#header .search-submit {
    border: 0 none;
    position: absolute;
    right: -30px;
    top: -20px;
    display: block;
    color: #fff;
    background: none;
}

#header .search-submit:hover {
    color: #ad0001;
    cursor: pointer;
}

.social-buttons {
    position: absolute;
    top: 60px;
    right: 5px;
    z-index: 10;
}

.social-buttons a {
    display: inline-block;
    color: rgba(255, 255, 255, .5);
}

.social-buttons a:hover {
    color: #fff;
}

/*****************************************************************
* Footer
*****************************************************************/

#footer {
    zoom: 1;
    margin: 10px 30px 0;
}

#footer .widget-container {
    float: left;
    width: 360px;
    max-width: 360px;
    width: 30%;
    margin-right: 30px;
    margin-right: 2.5%;
}

#footer .widget-container.last {
    margin-right: 0;
}

#footer .widget-wrapper {
    zoom: 1;
}

#footer .copyright {
    font-size: 0.75em;
    padding: 20px 0 20px;
    text-align: right;
    color: #400;
}

#menu-footer-menu,
#menu-footer-menu li {
    display: inline-block;
}

#menu-footer-menu li {
    border-left: 1px solid #444c4f;
    margin-left: 10px;
    padding-left: 10px;
}

/*****************************************************************
 * Content
 *****************************************************************/
.col-1 {
    width: 750px;
    max-width: 750px;
    width: 62.5%;
    margin: 0 15px 10px 30px;
    margin: 0 1.25% 0.8333% 2.5%;
    float: left;
}

.content {
    zoom: 1;
}

.content a {
    color: #ad0000;
    text-decoration: none;
}

.content a:hover {
    text-decoration: underline;
}

#postingfeed {
    margin-bottom: 30px;
}

.post-thumbnail-container {
    float: right;
    width: 200px;
    margin: 0 0 10px 0;
    text-align: right;
}

#related_rezensionen .post-thumbnail-container {
    float: left;
    max-width: 120px;
    width: 100%;
    margin: 15px 35px 15px 0;
    text-align: left;
}

#related_rezensionen .post-thumbnail-container:last-of-type {
    margin-right: 0;
}

#postingfeed .post-thumbnail-container {
    float: left;
    max-width: 100px;
    width: 100%;
    margin: 0 15px 15px 0;
    text-align: left;
}

.wp-post-image {
    box-shadow: 5px 5px 15px #ccc;
}

.wp-post-image:hover {
    box-shadow: 5px 5px 15px rgba(173, 0, 0, .50);
}

.post-meta-buchinfo {
    font-size: 0.8em;
    font-style: italic;
    padding: 15px 20px 10px 22px;
    margin-bottom: 15px;
    float: left;
    max-width: 470px;
    width: 88%;
    box-shadow: 5px 5px 15px #ccc;
    border: 1px solid #eee;
    border-width: 1px 0 0 1px;
}

.postmeta {
    margin-bottom: 10px;
    font-size: 90%;
    padding-left: 85px;
    margin-top: -10px;
}

.postmeta + .postmeta-bottom {
    margin-bottom: 10px;
    margin-top: -5px;
}

.postmeta-bottom {
    font-size: 90%;
}

h2 + .postmeta {
    padding-left: 0;
    margin-top: -20px;
}

.postmeta > span,
.postmeta > .zilla-likes,
.postmeta > .zilla-likes:hover {
    margin-right: 25px !important;
    white-space: nowrap;
}

.postmeta a,
.postmeta a:visited,
.postmeta,
.postmeta-bottom a,
.postmeta-bottom a:visited,
.postmeta-bottom,
.comment-meta a,
.comment-meta a:visited,
.comment-meta {
    color: #999;
}

.comment-meta {
    font-size: 80%;
    padding-bottom: 15px;
}

.comments {
}

.comment-avatar {
    width: 100%;
    max-width: 32px;
    margin: 0 15px 5px 0;
}

.comment-author {
    padding-top: 5px;
    font-family: Arizonia;
    font-size: 24px;
}

.postend {
    background: url(../images/border-bottom-widget-title.png) repeat-x left bottom;
    margin-bottom: 35px;
    padding-bottom: 12px;
}

.postmetaend {
    padding: 15px 0 10px;
    margin-bottom: 30px;
    background: url(../images/border-bottom-widget-title.png) repeat-x left bottom;
}

.commentlist {
    margin-top: 25px;
}

.comment {
    padding-bottom: 20px;
    margin-bottom: 30px;
    background: url(../images/border-bottom-widget-title.png) repeat-x left bottom;
}

.bypostauthor > .comment-body {
    background: #f9f9f9 !important;
}

.comment-author img {
    display: inline-block;
    margin-right: 10px;
}

.fn, .says {
    top: -7px;
    position: relative;
    font-family: Arizonia;
    font-size: 24px;
}

ul.children {
    margin-top: 30px;
}

ul.children .comment {
    margin-left: 30px;
    margin-top: 30px;
    background: none;
    margin-bottom: 0;

}

hr {
    height: 5px;
    border: none;
    background: url(../images/hr.png) left top repeat-x;
    margin-bottom: 35px;
}

.content span img {
    display: inline-block;
}

/* Bewertungen ------*/

.post-meta-bewertung,
.rezi-tag-box {
    padding-bottom: 10px;
}
ul.bewertungen {
    margin: 15px 0 30px 15px;
}
/* Related ------*/

#related_rezensionen {
    margin-top: 30px;
}

/* Page-Nav ------*/

.page-nav {
    font-family: Georgia;
    text-align: center;
    margin-bottom: 35px;
}

.prev.page-numbers, .next.page-numbers {
    padding: 5px 15px;
}

a.page-numbers,
span.page-numbers.dots {
    padding: 5px;
    display: inline-block;
    text-align: center;
    color: #ad0000;
    text-decoration: none;
}

span.page-numbers.current,
a.page-numbers:hover {
    color: #ad0000;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    color: #999;
    text-decoration: underline;
}

/* Post-Nav ------*/

a.post-nav {
    padding: 5px;
    display: block;
    text-decoration: none;
    margin: 15px 0;
    width: 45%;
    color: #444c4f
}

a.post-nav:hover {
    text-decoration: none;
    color: #ad0000;
}

a.post-nav.next {
    text-align: right;
    float: right;
}

a.post-nav.prev {
    text-align: left;
    float: left;
}

span.post-nav {
    display: none
}

ul.genre > li {
    margin: 0 0 25px;
}
ul.genre > li h4 {
    margin: 0 0 10px;
}

ul.genre > li li {
    margin: 0 0 0 15px
}

/* Zitate ------*/

blockquote {
    margin: 5px 15px 35px 35px;
    padding: 5px 35px 5px 45px;
    font: normal normal bold 1.75rem/130% 'Arizonia', Verdana, cursive, serif;
    -webkit-font-smoothing: antialiased;
    color: #999;
    text-shadow: 3px 3px 10px #ccc;
    background: url(../images/afz.png) top left no-repeat;
}

blockquote:first-letter {
    text-transform: uppercase;
    color: #ad0000;
    font-size: 3rem;
}

/* scrollUp ------*/

#scrollUp {
    bottom: 20px;
    right: 20px;
    width: 38px;
    height: 38px;
    background: url(../images/top.png) no-repeat;
}

a.adventskalender {
    display: block;
    margin: 1px;
    border: 0;
    float:left;
}
a.adventskalender img {
    display: block;
}
.letter {
    margin: 30px 0 15px;
    background: url(../images/border-bottom-widget-title.png) left bottom repeat-x;
    padding-bottom: 5px;
    text-align: center;
}
.letter img {
    display: inline-block;
}
/*****************************************************************
* Sidebar
*****************************************************************/

#sidebar {
    float: left;
    width: 360px;
    max-width: 360px;
    width: 30%;
    margin: 0 30px 0 15px;
    margin: 0 2.5% 0 1.15%;
}

.widget-wrapper {
    margin-bottom: 30px;
}

div.h4.widget-title {
    font-family: Georgia, sans-serif;
    font-weight: normal;
    text-transform: uppercase;
    color: #ad0000;
    background: url(../images/border-bottom-widget-title.png) repeat-x left bottom;
    padding-bottom: 20px;
    margin-bottom: 15px;
}

.widget-wrapper li:last-child {
    background: none;
}

.widget-wrapper li {
    background: url(../images/border-bottom-widget-li.png) repeat-x left bottom;
    margin-bottom: 10px;
    padding-bottom: 12px;
}
#siderbar .post-10230 {
    display: none;
}
/*****************************************************************
* Navi
*****************************************************************/

#nav-container {
    position: relative;
    height: 85px;
    width: 100%;
    background: url(../images/bg-navi.png) repeat-x;
    margin: 0 0 30px;
}

#nav-container a {
    padding: 0 0 0 0;
    display: block;
    text-decoration: none;
}

#nav-container ul.menu li.startseite a {
    background: url(../images/icon-startseite.png) no-repeat center left;
    padding: 0 40px 0 50px;
}

#nav-container ul.menu li.startseite a:hover,
#nav-container ul.menu li.startseite.current-menu-item a
{
    background: url(../images/icon-startseite-hover.png) no-repeat center left;
}

#nav-container ul.menu li.rezensionen a {
    background: url(../images/icon-tagebuch.png) no-repeat center left;
    padding: 0 40px 0 50px;
}

#nav-container ul.menu li.rezensionen a:hover,
#nav-container ul.menu li.rezensionen.current-menu-item a
{
    background: url(../images/icon-tagebuch-hover.png) no-repeat center left;
}

#nav-container ul.menu li.tagebuch a {
    background: url(../images/icon-rezensionen.png) no-repeat center left;
    padding: 0 40px 0 50px;
}

#nav-container ul.menu li.tagebuch a:hover,
#nav-container ul.menu li.tagebuch.current-menu-item a
{
    background: url(../images/icon-rezensionen-hover.png) no-repeat center left;
}

#nav-container ul.menu li.interviews a {
    background: url(../images/icon-interviews.png) no-repeat center left;
    padding: 0 40px 0 50px;
}

#nav-container ul.menu li.interviews a:hover,
#nav-container ul.menu li.interviews.current-menu-item a
{
    background: url(../images/icon-interviews-hover.png) no-repeat center left;
}

#nav-container ul.menu > li > a {
    font: italic normal bold 2.35rem/130% 'Arizonia', Verdana, cursive, serif;
    -webkit-font-smoothing: antialiased;
}

#nav-container ul.menu {
    float: left;
    position: relative;
    padding: 20px 30px;
    max-width: 1140px;
}

#nav-container ul.menu > li {
    float: left;
    margin: 0 0.1em;
    position: relative;
    display: block;
    padding: 0 50px 0 0;
    background: url(../images/navi-border.png) no-repeat right center;
}

#nav-container ul.menu > li:last-child {
    background: none;
    padding-right: 0;
}

#nav-container ul.menu > li:hover {
}

#nav-container ul.menu > li ul.sub-menu {
    visibility: hidden;
    position: absolute;
    left: 20px;
    z-index: 10;
    background: rgba(255, 255, 255, 1);
}

#nav-container ul.menu > li ul.sub-menu > li {
    border-bottom: 1px dotted #700;
    padding: 0.25em 0 0 0;
    min-width: 190px;
}

#nav-container ul.menu > li ul.sub-menu > li:hover {
    background: #eee;
}

#nav-container ul.menu > li ul.sub-menu > li:last-child {
    border-bottom: none;
}

#nav-container ul.menu > li:hover ul.sub-menu {
    visibility: visible;
}

#nav-container ul.menu > li:hover ul.sub-menu > * ul.sub-menu {
    visibility: hidden;
}

/*****************************************************************
* Pluginfixes
*****************************************************************/

h4.tm_lcptu_post_title {
    padding: 0;
    margin: 0;
    font-weight: normal;
    font-size: 100%; /* pluginfix */
}

/*****************************************************************
* Media Queries
*****************************************************************/
@media all and (max-width: 640px) {
    #wrapper {
        width: 100%;
        min-width: 100%;
        background-image: url(../images/bg-head-640.png);
        background-size: 100%;
    }
    #header {
        height: 200px;
    }
    #nav-container {
        position: relative;
        width: 100%;
        background: url(../images/bg-navi.png) top left;
        margin: 0 0 2.5%;
        height: auto;
    }
    #nav-container ul.menu {
        float: none;
        position: relative;
        padding: 0 2.5%;
        width: 95%;
        max-width: 95%;
    }
    #nav-container ul.menu > li {
        float: none;
        margin: 0 ;
        position: relative;
        display: block;
        padding: 0;
        background: transparent;
    }
    #nav-container ul.menu > li > a {
        font: italic normal bold 2.35rem/130% 'Arizonia', Verdana, cursive, serif;
        -webkit-font-smoothing: antialiased;
        padding: 0 40px 0 50px !important;
        display: block;
        line-height: 85px;
    }
    .page-container {
        width: 640px;
        width: 100%;
        max-width: 640px;
    }
    .col-1 {
        width: 608px;
        max-width: 608px;
        width: 95%;
        margin: 0 16px 5px 16px;
        margin: 0 2.5% 0.8333% 2.5%;
        float: none;
    }
    #sidebar {
        display: none;

    }
    #footer {
        margin: 0.8333% 2.5% 0;
    }
    #footer .widget-container {
        float: none;
        width: 100%;
        max-width: 100%;
        margin: 0 0 16px 0;
        margin: 0 0 2.5% 0;
    }
    #footer .copyright {
        text-align: center;
    }
    #menu-footer-menu li {
        border-left: 0;
        margin: 0;
        padding: 0;
    }
    #menu-footer-menu li a {
        display: block;
        padding: 5px;
    }
    #content {
        margin: 0 auto;
    }
    .content p > img {
        width: 100%;
        height: auto;
    }
    textarea#comment {
        width: 100%;
    }
}
@media all and (min-width: 641px) and (max-width: 990px) {
    #wrapper {
        background-image: url(../images/bg-head-990.png);
        background-size: 100%;
        max-width: 990px;
        min-width: 100%;
    }
    #footer {
        margin: 0.8333% 2.5% 0;
    }
    #footer .widget-container {
        width: 47.5%;
        max-width: 47.5%;
        margin: 0 0 16px 0;
        margin: 0 0 2.5% 0;
    }
    #footer .widget-container.second {
        margin-left: 5%;
    }
    #footer .widget-container.last {
        float: none;
        width: 100%;
        max-width: 100%;
    }
}
@media all and (min-width: 991px) and (max-width: 1199px) {
    #wrapper {
        max-width: 990px;
        min-width: 100%;
        background-size: 123.1667%;
    }
}
@media all and (min-width: 641px) and (max-width: 1199px) {
    #header {
        height: 200px;
    }
    .page-container {
        width: 990px;
        width: 100%;
        max-width: 990px;
    }
    .col-1 {
        width: 619px;
        max-width: 619px;
        width: 62.5%;
        margin: 0 12px 8px 25px;
        margin: 0 1.25% 0.8333% 2.5%;
    }
    #sidebar {
        width: 297px;
        max-width: 297px;
        width: 30%;
        margin: 0 25px 0 12px;
        margin: 0 2.5% 0 1.15%;
    }
}
@media all and (min-width: 1200px) {
    .page-container {
        width: 1200px;
        width: 100%;
        max-width: 1200px;
    }
    .col-1 {
        width: 750px;
        max-width: 750px;
        width: 62.5%;
        margin: 0 15px 10px 30px;
        margin: 0 1.25% 0.8333% 2.5%;
    }

    #sidebar {
        width: 360px;
        max-width: 360px;
        width: 30%;
        margin: 0 30px 0 15px;
        margin: 0 2.5% 0 1.25%;
    }
}

/* out */
#back-top {
    position: fixed;
    bottom: 40px;
    z-index: 99;
    left: 50%;
    margin-left: 610px;
    display: none;
    width: 41px;
    height: 41px;
}